body{
  margin: 0px;
}

.general__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}



.navbar {
  width: 100%;
  display: flex;
  justify-content:space-between;
  height: 50px;
  background-color: #24292e;
  padding: 16px;
  align-items:center;
}

.navbar__mini{
  display:none;
}

.right__navbar,.left__navbar{
  width: 50%;
  display: flex;
  flex-direction: row;
}

.right__navbar{  
  justify-content:flex-end;
  margin-right: 3rem;
}

.github__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width:4%;
  height: 60%;
  margin-right: 1%;
  object-fit: contain;
}

.github__logo img{
  width:100%;
  height:100%;
}

.form__search{
  display: flex;
  align-items:center;
  margin-top: 1%;
  margin-left: 2%;
  width:100%;
  height:25px;
  border-style: solid;
  border-width:thin;
  border-radius: 9%;
  border-color: #586069;
} 

.form__search input{
  background-color:#24292e;
  border-style: none;
}

.input__search{
  padding-left: 10px;
  width:50%;
  transition:width 0.5s ease;
}
.input__search:focus{ 

  width:100%;
  height:25px;
  border-style: solid;
  border-width:thin;
  border-radius: 9%;
  background-color:white;
  outline:none;
}

.input__submit{
  position: absolute;
  margin-left: 11%;
  margin-top: 4px;
  background-color:#24292e;
  border:none;
  width:32px;
  object-fit: contain;
}

.input__submit img{
  width:100%;
  height:100%;
}

.nav__links{
  display: flex;
  margin-left: 25px;
  width:50%;
  justify-content:space-between;
  align-items:center;
}

.nav__links a{
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  white-space: wrap;
}

.nav__links a:hover{
  color: #586069;
}


.navbar__icon{
  height:18px;
  width:18px;
  object-fit: contain;
  margin-right: 1rem;
}

.navbar__icon img{
  height:100%;
  width:100%;
  border-radius: 50%;
}





/* Profile Styling */

.profile__container {
  width: 100%;
  height: 100%;
  display: flex;
  color: #24292e;
  flex-direction: row;
  margin-top: 5%;
 
}

/* Styling for profile details */
.profile__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-basis: 30%;
}

#mini__profile__names{
  display: none;
}
.profile__details h1,
h2,
p {
  width: 70%;
}

.image__status{
  display: flex;
}

.status{
  position:absolute;
  width: 40px;
  height:40px;
  border-radius: 50%;
  background-color:white;
  margin-top:14%;
  margin-left: 17%;
  transition:width 0.5s ease;
}

.status__info{
  font-size:12px;
  color:#2188ff;
  margin-left:5px;
  display:none;
}

.status:hover{
   width:120px;
  border-radius:5%;
  cursor: pointer;
}

.status div{
  display: flex;
  width:100%;
  height:100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile__picture {
  width: 260px;
  height: 260px;
  margin-top: 1%;
  border-radius: 50%;
}

.profile__names,
.profile__description,
.profile__followInfo,
.other__info {
  width: 100%;
  margin-left: 40%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.profile__names h1,
h2 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.profile__names h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.25;
  
}

.profile__names h2 {
  font-size: 20px;
  color: #586069;
  font-weight: 300;
  line-height: 24px;
}

.profile__followInfo {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.following__value,
.followers__value {
  font-weight: bolder;
}
.follow__label {
  color: #586069;
}
.follow__icon__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 80%;
  object-fit: contain;
}
.follow__icon {
  width: 100%;
}

.follow__icon img,
span {
  padding-left: 0.8%;
  padding-right: 0.8%;
}

.circle__icon__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2%;
  height: 90%;
  object-fit: contain;
}

.circle__icon {
  width: 2px;
}

.other__info {
  margin-top: 3%;
}

.info {
  display: flex;
  font-size: 14px;
  margin-top: 2%;
  margin-bottom: 1%;
}

.info div {
  width: 4%;
  object-fit: contain;
}

.info img {
  width: 100%;
}

.info a {
  text-decoration: none;
  color: #24292e;
}

.info a:hover {
  text-decoration: underline;
  color: #0366d6;
}

/* Styling for reposiory container */

.repositories {
  flex-basis: 70%;
  margin-top: 3%;
  padding: 1%;
  height: 200px;
  width: 100%;
}

.repository__group {
  display: flex;
  flex-wrap: wrap;
}

.repository {
  width: 40%;
  max-width: 40%;
  height: 6rem;
  border-radius: 3.5%;
  border-style: solid;
  border-width: thin;
  border-color: rgb(201, 199, 199);
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 3%;
  padding: 1.5%;
}

.repository a {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none;
  color: #0366d6;
}

.repository p {
  font-size: 12px;
  margin-top: 8px;
  color: #586069;
}

.repository__languages {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 60%;
  justify-content: flex-end;
}

.language__container {
  display: flex;
  justify-content: space-between;
}

.language {
  display: flex;
}
.language__color {
  width: 0.8rem;
  height: 0.8rem;
  background-color: black;
  border-radius: 50%;
  margin-right: 2px;
}

.language__name {
  font-size: 12px;
  color: #586069;
}