.general__container {
  width: 100%;
  height: 100%;
  display: flex;
  color:#24292e;
  flex-direction: row;
  margin-top: 5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling for profile details */
.profile__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  flex-basis: 30%;
}

.profile__details h1,
h2,
p {
  width: 70%;
}

.image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile__picture {
  width: 260px;
  height: 260px;
  margin-top: 1%;
  border-radius: 50%;
}

.profile__names,
.profile__description,.profile__followInfo,.other__info {
  width: 100%;
  margin-left: 40%;
  word-break: break-all;
}
.profile__names h1,
h2 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.profile__names h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.25;
}

.profile__names h2 {
  font-size: 20px;
  color: #586069;
  font-weight: 300;
  line-height: 24px;
}

.profile__followInfo {
    display: flex; 
    flex-direction: row;
    font-size:14px; 
}
.following__value,.followers__value{
   font-weight: bolder;
}
.follow__label{
    color:#586069;
}
.follow__icon__container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:5%;
    height:80%;
    object-fit: contain;
}
.follow__icon{
    width:100%;
    
}

.follow__icon img,span{
    padding-left: 0.8%;
    padding-right: 0.8%;
}

.circle__icon__container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 2%;
    height: 90%;
    object-fit: contain;
}

.circle__icon{
    width:2px;
}

.other__info{
    margin-top:3%;
}

.info{
    display:flex;
    font-size:14px;
    margin-top: 2%;
    margin-bottom: 1%; 
}

.info div{
    width:4%;
    object-fit: contain;
}

.info img{
    width:100%;
}

.info a{
    text-decoration:none;
    color:#24292e;
}

.info a:hover{
    text-decoration:underline;
    color: rgb(68, 133, 177);
}


/* Styling for reposiory container */

.repositories {
  flex-basis: 70%;
  background-color: yellow;
  height: 150px;
  width: 100%;
}
