/* Reponsive design section */

@media only screen and (max-width: 1150px) {
  .github__logo {
    width: 8%;
  }

  .form__search {
    margin-top: 0.4rem;
    margin-left: 2%;
  }

  .nav__links {
    width: 65%;
  }

  .status {
    margin-top: 16%;
    margin-left: 19%;
  }
}

@media only screen and (max-width: 992px) {
  .left__navbar {
    width: 60%;
  }

  .right__navbar {
    width: 40%;
  }
}

@media only screen and (max-width: 830px) {
  .left__navbar {
    width: 70%;
  }

  .right__navbar {
    width: 30%;
  }
}

@media only screen and (max-width: 760px) {
  .profile__container {
    flex-direction: column;
    margin-top: 0.5%;
  }
  .profile__details {
    display: block;
    width: 100%;
  }

  #main__profile__names{
      display: none;
  }

  #mini__profile__names{
    display: block;
  }

  .image__profile{
      display: flex;
      width: 100%;
      flex-direction:row;
      justify-content: flex-start;
      align-items: center;
  }

  .image__profile .image__container{
      flex-basis: 20%;
  }

  .image__profile .profile__names{
      margin-left: 3%;
      flex-basis:80%;
  }

  .image__status {
    display: flex;
    flex-direction: column;
  }

  .status {
    position: relative;
    width: 100%;
    border-radius: 3.5%;
    border-style: solid;
    border-width: thin;
    border-color: rgb(201, 199, 199);
    background-color: white;
    margin-top: 3%;
    margin-left: 1%;
    padding-left: 0.5%;
  }

  .status__info {
    font-size: 12px;
    color: #000000;
    margin-left: 5px;
    display: block;
  }

  .status:hover {
    width: 100%;
    border-radius: 3.5%;
    cursor: pointer;
  }

  .status div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .image__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .profile__picture {
    width: 160px;
    height: 160px;
    margin-top: 0%;
  }

  .profile__details h1,
  h2,
  p {
    width: 100%;
  }

  .profile__names,
  .profile__description,
  .profile__followInfo,
  .other__info {
    width: 100%;
    margin-left: 1%;
  }

  .follow__icon__container {
    width: 2%;
    height: 100%;
  }

  .following__value,
.followers__value,.follow__label{
  margin-top: 0.5px;
}

.circle__icon__container{
    height:100%;
} 
.circle__icon__container img{
    margin-top:6.5px
}

.info div {
    width: 2%;
  }


  /* Styling for reposiory container */

  .repository__group {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .repository{
    width: 80%;
    max-width: 80%;
  }
}

/* Styling to align status icon beginning */

/* @media only screen and (max-width: 1110px) {
  .status {
    margin-top: 16%;
    margin-left: 21%;
  }
} */

/* @media only screen and (max-width: 1060px) {
  .status {
    margin-top: 16%;
    margin-left: 22%;
  }
} */

/* @media only screen and (max-width: 1000px) {
  .status {
    margin-top: 16%;
    margin-left: 24.3%;
  }
} */

/* @media only screen and (max-width: 940px) {
  .status {
    margin-top: 19%;
    margin-left: 25%;
  }
} */

/* @media only screen and (max-width: 870px) {
  .status {
    margin-top: 21.5%;
    margin-left: 27.5%;
  }
} */

/* Styling to align status icon end */
